{deps, [
  {bullet, ".*", {git, "git://github.com/extend/bullet.git", "master"}},
  {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", "master"}},
  {erlydtl, ".*", {git, "git://github.com/erlydtl/erlydtl.git", "master"}},
  {gproc, ".*", {git, "git://github.com/uwiger/gproc.git", "master"}},
  {sync, ".*", {git, "https://github.com/rustyio/sync.git"}}
]}.

{plugins, [rebar_erlydtl_compiler]}.
{eunit_opts, [verbose]}.
{cover_enabled, true}.
{erlydtl_opts,[
  {compiler_options,[debug_info]},
  [
    {doc_root, "priv/templates"},
    {out_dir, "ebin"},
    {source_ext, ".dtl"},
    {module_ext, "_dtl"}
  ]
]}.